/* Add any styles here to override the CSS in your built app.
 * This file will survive redeployment
 */
.patent-result {
  padding: 10px;
}

.patent-contents {
  border-top: 1px black solid;
  padding: 20px;
}

.patent-contents > div {
  margin-top: 20px;
}

div > label {
  margin-left: 25px;
}

.message {
  color: red;
}

.description, .claims {
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  padding-bottom: 10px;
}

.description-title, .claims-title {
  border-bottom: 1px solid;
  padding: 0 0 10px 10px;
}

.description-contents, .claims-contents {
  margin: 0 10px;
  height: 300px;
  overflow: scroll;
}

fieldset > * {
  display: block;
  margin-top: 10px;
}